.main {
	display: flex;
	flex-direction: column;
}

.mainImage {
	width: 100%;

	top: 0;
}

.showcaseBlock {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	gap: 3%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 300px;
}
.videoBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.video {
	z-index: 0;
	position: absolute;
	width: 100%;
}
.magazineBlock {
	z-index: 1;
	height: 100px;
}

.storeInfo {
	height: 40%;
	z-index: 10;
}
.storeInfoImage {
	padding-top: 1000px;
	width: 50%;
	z-index: 10;
}
