.main {
	display: flex;
	flex-direction: column;
}

.mainImage {
	width: 100%;

	top: 0;
}

.showcaseBlock {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	gap: 4%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 300px;
}

.videoMain {
	position: relative;
	overflow: hidden;
}
.videoBlock {
	position: relative;
	min-height: 26vw;
	overflow: hidden;
}
.video {
	height: 100%;
	min-width: 100%;
	object-fit: cover;
	z-index: -1;
}
.magazineBlock {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	z-index: 1;
}
.imageBlock {
	display: flex;
	justify-content: center;
	height: 875px;
	width: 100%;
}
.magazineImage {
	width: auto;
	height: 100%;
}
.storeInfo {
	height: 100;
}
.storeInfoImage {
	width: 50%;
}

.magazineCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}
.magazineCardBlock {
	height: auto;
	width: 380px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.magazineCardTitle {
	font-family: 'Unica77LLWeb2';
}
.magazineCardDesc {
	font-family: 'Unica77LLWeb1';
}
.buttonAdd {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	font-size: 12px;
	background-color: rgb(90, 90, 90);
}

.cardTitle {
	font-family: 'Unica77LLWeb2';
}
.cardPrice {
	font-family: 'Unica77LLWeb1';
}
.buttonAddInfo {
	font-family: 'Unica77LLWeb1';
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
