.headerBlock {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 90%;
	padding: 20px;
}

.mainTitleBlock {
	font-family: 'Unica77LLWeb2';
	gap: 30px;
	align-items: center;
	width: 620px;
	height: 160px;
	display: flex;
}

.menuBlock {
	gap: 25px;
	height: auto;
	display: flex;
	justify-content: space-between;
	font-family: 'Unica77LLWeb2';
	font-size: 20px;
	display: flex;
	width: 100%;
	justify-content: end;
}

@media (max-width: 900px) {
	.mainTitleBlock {
		width: 100%;
	}
}
