* {
	margin: 0;
	/* user-select: none; */
}

@font-face {
	font-family: Unica77LLWeb1;
	font-style: normal;
	font-weight: 400;
	src: url(//www.homer.com/cdn/shop/t/45/assets/Unica77LLWeb-Regular.woff2?v=173385283974658921301714525210)
			format('woff2'),
		url(//www.homer.com/cdn/shop/t/45/assets/Unica77LLWeb-Regular.woff?v=80763290268616072091714525209) format('woff');
}
@font-face {
	font-family: Unica77LLWeb2;
	font-style: normal;
	font-weight: 700;
	src: url(//www.homer.com/cdn/shop/t/45/assets/Unica77LLWeb-Black.woff2?v=20733787471401822751714525208)
			format('woff2'),
		url(//www.homer.com/cdn/shop/t/45/assets/Unica77LLWeb-Black.woff?v=44885006776518223191714525207) format('woff');
}

a,
h1,
h2,
h3 {
	all: unset;
	font-family: Unica77LLWeb2;
}
a:hover {
	color: #00af66;
}
